#formpage {
  background-color: white;
  padding: 10px;
}

.behind {
  background: url("./titanic.jpg");
  position: absolute;
  min-height: 100% !important;
  width: 100%;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}
